@import "utilities";

main {
    display: flex;
    height: 680px;
    justify-content: center;
  }
  
  #carouselExampleInterval {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .carousel-inner {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
.banner,
.bannerC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(122, 145, 141);
  padding: 112px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 800px;
  padding: 70px;
}

.tituloMapa {
  font-size: 34px;
  margin-bottom: 15px;
  margin-top: 0;
  color: rgb(219, 254, 184);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}

.imgBan {
  width: 450px;
  height: 500px;
  border: 0;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.divBan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 180px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover {
    background: #f0f0f0;
    transform: translateY(-5px);
  }
}

.tituloBan {
  font-size: 39px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }
}

.txtBan {
  font-size: 18px;
  text-align: center;
  color: #333;
  line-height: 1.6;
  margin-top: 10px;
}

.ulContacto {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;

  li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    img.logo {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    a {
      color: #007bff;
      text-decoration: none;
      margin-left: 5px;
    }
  }
}



  