h1{
    color: #333;
    text-decoration: none;
    margin-left: 30px;
  }
  .iconoPrincipal{
    max-width: 25%;
    border-radius: 50%;
  }
  .divTitulo{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    width: 450px;
  } 
  nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
  }